#eka {font-weight: bold; color: green;}
#kol {font-weight: bold; font-size: 30px; font-family: fantasy;}
#nel {font-family: cursive;}
#viis {font-family: fantasy;}
#kuus {font-family: "Roboto", sans-serif;}
#seit {font-family: monospace;}
#td1 {font-size: 15px; color: blue;}
#td2 {font-size: 20px; color: red;}
#td3 {font-size: 25px; color: dark green;}
#td4 {font-size: 30px; color: blue;}
#td5 {font-size: 35px; color: red;}
#td6 {font-size: 35px; color: dark green;}
#td7 {font-size: 30px; color: blue;}
#td8 {font-size: 25px; color: red;}
#td9 {font-size: 20px; color: dark green;}
#td10 {font-size: 15px; color: red;}
