
body

{
  width: 100%;
  margin: auto;
  background-color: #DE41D1;
}

header, footer
{
  background-color: #D71BC7;
  padding: 5px 0px 10px 10px
}

header  h1
{
color: #FFF;
padding: 22px 0 0 20px;
}

nav ul
{
margin: 0 0 0 -10px;
}

nav li
{
float: left;
list-style-type: none;
padding: 0 10px;
color: #0E760E;
}

nav
{
  background-color: 	#E76DDD;
  height: 20px;
  width: 500px;
}

aside
{
  float: right;
  background-color: #D71BC7;
    height: 800px;
}

section
{
  background-color: #E76DDD;
  width: 100%;
}

aside, section
{
  padding: 5px 0px 10px 10px;
}

aside  p
{
  padding: 10px

}
