table
{
  width: 500px;
  border: 1px solid black;
}
th, td
{
  border-collapse: collapse;
}
th
{
  background-color: #F00000;
}
table tbody tr:nth-child(even)
{
 background-color: #FFF000;
}
table tbody tr:nth-child(odd)
{
  background-color: #FFFF00;
}
th, td
{
  text-align: left;
}
