.liha
{
  font-weight: bolder;
  color: green;
}
body
{
  margin: 50px;
}
table, th, td
{
  border: 3px solid purple

}
#eka {float: left;}

#toka {float: right;}



{
  p text-align: inherit;
}
img {margin: 20px}
main {
  min-width: 1000px;
  width: 60%;
}
{
  background-color: yellow
}
