table{
text-align: right;
border-collapse: collapse;
}
td{
  width: 20px;
}
.vieri
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
  font-family: sans-serif;
  font-style: oblique;
}
#yksi{
  background-color: #FE01FC;
}
#kaksi{
  background-color: #FFA02E;
}
#kolme{
    background-color: #66C95B;
}
#neljä{
    background-color: #B3A6F9;
}
